<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= form.customerName %>, please confirm your details.</div>
    <div class="item">
        <div class="content">
            Name: <span><%= form.customerName %></span>
        </div>
        <div class="content">
            Emai: <span><%= form.email %></span>
        </div>
        <div class="content">
            Phone Number: <span><%= form.phoneNumber %></span>
        </div>
        <div class="content">
            Spouse travelling? <span><%= form.withSpouse %></span>
        </div>
        <div class="content">
            Spouse Name: <span><%= form.spouseName %></span>
        </div>
        <div class="content">
            Number of Children: <span><%= form.numChildren %></span>
        </div>
        <div class="content">
            Travelling from: <span><%= form.locationFrom %></span>
        </div>
        <div class="content">
            Travelling to: <span><%= form.locationTo %></span>
        </div>
        <div class="content">
            Travel Date: <span><%= form.dateTravel.toDateString() %></span>
        </div>        
    </div>
</div>



<% include partials/footer %>